main {
  min-height: 85vh;
}
.ml-auto {
  margin-left: auto !important;
}

.img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

/* .card {
  width: 100%;
  height: 95%;
  object-fit: cover;
} */
.pname {
  text-decoration: none;
  text-align: center;
}

.rating {
  text-align: center;
}
.rating i {
  color: #f1c40f;
}

.rating span {
  margin: 0.1rem;
}

h3 {
  padding: 1rem 0;
}
.price {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.desc {
  text-align: justify;
}

.btnCard {
  text-align: center;
}

.textCenter {
  text-align: center;
}
